i{
    width: 100%;
    margin: 10px;
}

#join{
    background: rgb(165, 255, 47);

}

#leave{
    background: rgba(255, 0, 0, 0.486);

 } 

#join, #leave{
    border: 1px solid black;
    width: 20%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;

}

body{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(87, 0, 128);
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}
/* 
input[type="submit"]{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    padding: 10px;

} */

